<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Reads</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        {% if messages %} {% for message in messages %}
        <div class="container-fluid p-0">
            <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                {{message}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
        </div>
        {% endfor %} {% endif %}
        <div class="row justify-content-md-center">
            <div class="col-md-8 offset-md-1">
                {% include "navbar.html" %}
                <div class="header">
                    {% for lista in lista_libros%}
                    <a href=""><h6>{{lista.titulo}}</h6></a>
                    <ul class="list-group">                        
                        <li class="list-group-item">{{lista.rating}}</li>
                        <li class="list-group-item">{{lista.libros.last.usuario.nombre}} - {{lista.libros.last.contenido}}</li>
                        <li class="list-group-item">{{lista.libros.last.updated_at}}</li>
                    </ul>
                    {% endfor%}
                </div>
            </div>
        </div>
    </div>
</body>

</html>